body { 
  background: white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

header {
  width: 100%;
  background: #f4b648;
  height: 350px;
}

header .face {
  background: url(images/face.png) no-repeat;
  height: 325px;
  width: 315px;
  position: relative;
  margin: 0 auto;
  top: 180px;
  
}
header nav {
  float: right;
  margin-top: 20px;
}
header nav a {
  display: inline-block;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

header nav a:hover {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  transition: 0.5s;
}

#overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
  padding-top: 100px;
  line-height: 30px;
}

#overlay a {
  text-decoration: none;
  font-family: 'Roboto', 'sans-serif';
  color: black;
}

#overlay a:hover {
  transition: 0.3s;
  color: #f4b648;
}

@media only screen and (max-width: 630px) {
  header nav {
    display: none;
    margin-left: 0;
  }
  .menu {
    display: inline-block;
    cursor: pointer;
    float: right;
    margin: 10px 10px 10px 10px;
    z-index: 2; 
    position: relative;
  }
  
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 3px);
    transform: rotate(-45deg) translate(-5px, 3px);
  }

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px)
  }

  .project {
    display: inline !important;
    max-width: 350px;
    overflow: auto;
  }

  .project-info {
    width: auto !important;
  }

  .work {
    display: inline-block !important;
    overflow: auto;
  }

}
.blurb {
  max-width: 630px;
  margin: 0 auto;
  margin-top: 200px;
}

.blurb p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  padding-bottom: 100px;
}

.project {
  width: 1100px;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  padding-bottom: 100px;
}

.project-preview img {
  max-width: 100%;
  height: auto;
}

.project-info {
  width: 500px;
  padding: 50px 50px 50px 50px;
  line-height: 20px;
  font-family: 'Roboto', 'sans-serif';
}

.project-info h3 {
  text-transform: uppercase;
  color: gray;
  font-weight: 500;
  font-size: 18px;
}

.project-info h1 {
  font-weight: 400;
  font-size: 24px;

}

.project-info p {
  font-weight: 100;
  font-size: 18px;
  color: black;
}

.project-info img {
  padding: 0 20px 0 0px;
}

#work {
  background: #f4b648;
}
.work img {
  height: 70px;
  width: auto;
}

.work h1 {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
}

.work {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.current {
  padding: 100px 0 0 100px;
}

.previous {
  padding: 100px 0 0 100px;
}

.previous img {
  margin-right: 40px;
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

#contact {
  padding-top: 100px;
}

#contact h1 {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding-bottom: 30px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px;
}

.socials a {
  margin-right: 40px;
}

.bar {
  width: 250px;
  height: 0px;
  border-top: 4px solid #f4b648;
  margin: 0px auto 50px;
}

.email {
  margin: 0 auto;
  width: 260px;
  padding-bottom: 20px;
}

.email a {
  display: flex;
}

.email a  {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #f4b648
}

.email a h4 {
  margin-left: 20px;
}

footer {
  height: 50px;
  width: max;
  background-color: #f4b648;
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

footer h4 {
  padding: 10px 0 0 10px;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
}