header {
    height:449px;
    background:#449;
}

.logo {
    height:56px;
    width:56px;
    background:#ccc;
}

nav a {
    display: inline-block;
    margin-left:20px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0,0,0,0.7); 
}

.get {
    display:none;
}

#diagram {
    float:left;
    width:600px;
    height:600px;
}